body {
    font-family: Arial, sans-serif;
    background: grey;
    padding: 40px;
}

h1 {
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 25px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

#output {
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 4px;
}
